# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production build
build/
dist/

# Misc
.DS_Store
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
